* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  outline: red;
>>>>>>> aaa55f3... [first commit] 이전 html, css 저장 및 express환경 새로 구축
=======
>>>>>>> 1b17b97... [add] setInterval function to move searchUI
}

button,
button:focus {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
ul,
li {
  list-style: none;
}

body {
  background: #f3f3f3;
}

header {
  background: #fff;
  width: 100vw;
  height: 193px;
  padding-top: 43px;
  border-bottom: 1px solid #cecfd1;
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> aaa55f3... [first commit] 이전 html, css 저장 및 express환경 새로 구축
=======

>>>>>>> 1b17b97... [add] setInterval function to move searchUI
  .area_top {
    width: 843px;
    height: 55px;
    display: flex;
    margin: 0 auto;

    img {
      width: 119px;
      height: auto;
    }
    .area_top__search {
      position: relative;
      width: 670px;
      height: 54px;
      margin: 0 auto;
      border: 1px solid #cecfd1;
      border-radius: 10px;
      padding-left: 30px;
<<<<<<< HEAD
<<<<<<< HEAD

      .area_top__search_input {
=======
=======

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 1b17b97... [add] setInterval function to move searchUI
      input {
>>>>>>> aaa55f3... [first commit] 이전 html, css 저장 및 express환경 새로 구축
=======
      .area_top__search_input {
>>>>>>> 0133fc7... [add] eventListener on searchBox
=======
      .area_top__search_input {
>>>>>>> 2faff58fd1432e15392fe1320875a24cc66e2675
        width: 92%;
        height: 100%;
        border: none;
        font-weight: bold;
        font-size: 20px;
      }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0133fc7... [add] eventListener on searchBox
=======
>>>>>>> 2faff58fd1432e15392fe1320875a24cc66e2675

      .area_top__search_input:focus {
        outline: none;
      }

<<<<<<< HEAD
<<<<<<< HEAD
      button {
        height: 100%;
        width: 8%;
        color: #ff2d2d;
=======
      button {
        height: 100%;
        width: 8%;
        color: rgb(255, 45, 45);
>>>>>>> aaa55f3... [first commit] 이전 html, css 저장 및 express환경 새로 구축
=======
      button {
        height: 100%;
        width: 8%;
        color: #ff2d2d;
>>>>>>> 0133fc7... [add] eventListener on searchBox
=======
      button {
        height: 100%;
        width: 8%;
        color: #ff2d2d;
>>>>>>> 2faff58fd1432e15392fe1320875a24cc66e2675
        position: absolute;
        font-size: 23px;
        top: 0;
        right: 0;
      }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 2faff58fd1432e15392fe1320875a24cc66e2675
      .area_top__search_recRoll {
        position: absolute;
        width: 80%;
        height: 78%;
        overflow: hidden;
        margin: 6px 0px;
        top: 0;
        .area_top__recomList {
          position: absolute;
          top: 0;
          width: 80%;
          height: 80%;
          padding: 5px 0px;
          font-size: 20px;
          font-weight: bold;
          color: #808080;
          display: none;
<<<<<<< HEAD
          flex-direction: column;
          justify-content: space-between;
          li {
            padding: 5px 0px;
          }
        }
        .flex {
          display: flex;
        }
      }

      .area_top__search_recBox {
        width: 100%;
        z-index: 10;
        background-color: #fff;
        position: absolute;
        left: 0;
        margin: 0 auto;
        border: 1px solid #ff2d2d;
        border-radius: 10px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .recBox_container {
          display: flex;
          font-size: 15px;
          color: #808080;
        }
        .recBox_span {
          color: #a7a7a7;
          font-size: 16px;
          font-weight: bold;
          margin: 15px 0px;
        }
        .recBox_leftOL {
          width: 40%;
          margin-right: 60px;
        }
        .recBox_rightOL {
          width: 40%;
        }
        .recomList_li {
          width: 200px;
          height: 40px;
          .recomList_num {
            color: #000;
            margin-right: 10px;
          }
        }
      }
      .none {
        display: none;
      }
    }

    .border_red {
      border: 1px solid #ff2d2d;
    }
  }

=======
=======
      .area_top__recomList {
=======
      .area_top_search_rec {
>>>>>>> 1b17b97... [add] setInterval function to move searchUI
=======
      .area_top__search_recRoll {
>>>>>>> 0133fc7... [add] eventListener on searchBox
        position: absolute;
        width: 80%;
        height: 78%;
        overflow: hidden;
        margin: 6px 0px;
        top: 0;
        .area_top__recomList {
          position: absolute;
          top: 0;
          width: 80%;
          height: 80%;
          padding: 5px 0px;
          font-size: 20px;
          font-weight: bold;
          color: #808080;
          display: none;
=======
>>>>>>> 2faff58fd1432e15392fe1320875a24cc66e2675
          flex-direction: column;
          justify-content: space-between;
          li {
            padding: 5px 0px;
          }
        }
        .flex {
          display: flex;
        }
      }

      .area_top__search_recBox {
        width: 100%;
        z-index: 10;
        background-color: #fff;
        position: absolute;
        left: 0;
        margin: 0 auto;
        border: 1px solid #ff2d2d;
        border-radius: 10px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .recBox_container {
          display: flex;
          font-size: 15px;
          color: #808080;
        }
        .recBox_span {
          color: #a7a7a7;
          font-size: 16px;
          font-weight: bold;
          margin: 15px 0px;
        }
        .recBox_leftOL {
          width: 40%;
          margin-right: 60px;
        }
        .recBox_rightOL {
          width: 40%;
        }
        .recomList_li {
          width: 200px;
          height: 40px;
          .recomList_num {
            color: #000;
            margin-right: 10px;
          }
        }
      }
      .none {
        display: none;
      }
<<<<<<< HEAD
>>>>>>> 589b5be... [add] ul in html and make li by javascript
=======
>>>>>>> 2faff58fd1432e15392fe1320875a24cc66e2675
    }

    .border_red {
      border: 1px solid #ff2d2d;
    }
  }
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> aaa55f3... [first commit] 이전 html, css 저장 및 express환경 새로 구축
=======

>>>>>>> 0133fc7... [add] eventListener on searchBox
=======

>>>>>>> 2faff58fd1432e15392fe1320875a24cc66e2675
  nav {
    width: 100vw;
    height: 55px;
    border-top: 1px solid #e3e3e3;
    margin-top: 40px;
    .nav_container {
      display: flex;
      height: 100%;
      justify-content: space-between;
      width: 67%;
      margin: 0px auto;
      align-items: center;
      .nav_left {
        height: 100%;
        display: flex;
        font-size: 16px;
        align-items: center;
        .category {
          width: 122px;
          height: 100%;
          display: flex;
          align-items: center;
          i {
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            font-size: 12.2px;
            padding: 8px;
            margin: 0px 6px 0px 1px;
          }
        }
        .show {
          display: flex;
          font-weight: bold;
          align-items: center;
          li {
            padding: 0 13px;
          }
        }
        .keyword {
          display: flex;
          font-weight: bold;
          color: #808080;
          align-items: center;
          li {
            padding: 0 10px 0 0;
          }
        }
      }
      .nav_right {
        .user {
          display: flex;
          div {
            padding: 0 10px;
          }

          i {
            font-size: 20px;
            color: white;
            background: black;
            border-radius: 50%;
            padding: 5px;
          }
          i:last-child {
            font-size: 16px;
            color: black;
            background: white;
          }
        }
      }
    }
    .nav_line {
      float: left;
      width: 1px;
      height: 18px;
      margin-top: 4px;
      background-color: #e3e3e3;
    }
  }
}

main {
  width: 100vw;
  .main_wrapper {
    background: #fff;
    width: 1274px;
    margin: 0 auto;

    .main_container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 340px auto 300px;
    }
    .section_best {
      width: 510px;
      height: 340px;
      padding: 0 12.5px;
      border: 0.1px #e2e2e2 solid;

      img {
        height: 330px;
      }
    }
    .section_themes {
      width: 764px;
      height: 340px;
      position: relative;
      border: 0.1px solid #e2e2e2;
      .slide_box {
        position: relative;
        width: 514px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
      }
      .slide_paging {
        .prev_button {
          position: absolute;
          left: 5%;
          top: 36%;
          opacity: 0.6;
          font-size: 60px;
          color: #dedede;
          font-weight: lighter;
        }

        .next_button {
          position: absolute;
          right: 5%;
          opacity: 0.6;
          top: 36%;
          font-size: 60px;
          font-weight: lighter;
          color: #dedede;
        }

        button:hover {
          opacity: 1;
        }

        .slide_paging_square {
          position: absolute;
          bottom: 20%;
          font-size: 1px;
          color: #a7a7a7;
          left: 46%;
          li {
            background: #a7a7a7;
            display: inline;
            padding: 0 6px;
            margin: 0 2px;
          }

          .black {
            background: black;
            color: black;
          }
        }
      }
    }
    .section_products {
      width: 100%;
      border: 0.1px solid #e2e2e2;
      grid-column: 1/3;
      grid-row: 2/3;

      .section_products_seeMore {
        width: 100%;
        background-color: #e9e9e9;
        height: 55px;
        font-size: 16px;
      }

      .section_products_list {
        display: flex;
        flex-wrap: wrap;
        li {
          border: 0.1px solid#e2e2e2;
          display: flex;
          flex-direction: column;

          width: 254.4px;
          height: 318px;
          padding: 21px 27px;

          .ellipsis {
            margin-top: 10px;
            display: inline-block;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            font-size: 14px;
          }
          span {
            font-size: 11px;
          }
          .span_theme {
            width: 31px;
            margin-top: 11px;
            padding-left: 3px;
            font-size: 12px;
            border: 1px solid #ff713d;
            border-radius: 4px;
            color: #ff713d;
          }
        }

        img {
          width: 200px;
          height: 200px;
        }
      }
    }
    .section_categories {
      border: 2px solid #e2e2e2;
      grid-column: 1/3;
    }
  }
}

main {
  .slide_list {
    display: flex;
    width: 1542px;
    li {
      margin: 0 14.5px;
      width: 514px;
      float: left;
    }
  }
}
